.content-body{
  width:800px;
  padding-left:50px;
}

.header i:hover{
  color:#00aa90;
  cursor: pointer;
}
.tab-content .card{
  margin-left:50px;
}


.ui-g-2{
  padding-bottom: 0px;
}
.ui-g-10{
  padding-bottom: 0px;
}
nav a{
  background-color: #00aa90;
  color: white;
}
nav a:hover {
  color: white;
  background-color: #00aa30;
  cursor: pointer;
}

nav .active{
  background-color: #00aa30;
  color: white;
}

.header{
  padding-top:20px;
}



.header .ui-g-8 h2{
  text-align: center;
}


.pick-list .user-list{
  text-align: center;
}

.user-list ul{
  border:2px solid #00aa30;
  padding-left: 0px;
  margin-left:10px;
  width: 320px;
  height: auto;
  max-height: 550px;
}

