<div class="posted">
  <!--<button type="button" (click)="Refresh()">Refresh My Posts</button>-->
  <ul slimScroll background="#333"
      opacity="0.6"
      position="right"
      width="7px"
      border-radius="5px"
  >
    <app-mission-brief *ngFor="let mission of postedMissions"
                       [mission]="mission">
    </app-mission-brief>

  </ul>
  <!--<ul>
    <li *ngFor="let mission of missions">
      {{mission.title}n} {{mission._id}}
    </li>
  </ul>-->

</div>


<!--<app-new-mission (currentUser)="toRefresh($event)"></app-new-mission>-->
