<html>
<header>
  <app-top-header></app-top-header>
</header>
<body>
<div class="ui-g">
  <div class="ui-g-4">
    <app-nav-bar></app-nav-bar>
  </div>
  <div class="ui-g-8">
    <app-home-content></app-home-content>
  </div>
</div>
</body>
</html>


<!--
<div class="col-md-6 col-md-offset-3">
  <h3>All registered users:</h3>
  <div *ngFor="let user of users">
    {{user.email}} ({{user.firstName}} {{user.lastName}} {{user.nickname}})
    - <button (click)="deleteUser(user.id)">Delete</button>
  </div>

  <p></p>
  <p><button (click)="logOut()">Logout</button></p>
  <div>
    <button (click) = "openProfile()">Open Profile</button>
  </div>

</div>-->
