
<div class="nav-bar">
  <div class="header-wrapper">
    <div class="portrait-wrapper">
      <img src="../../../assets/images/profile-green.png">
    </div>
    <div class="username">
      <p>{{currentUser.nickname}}</p>
    </div>
  </div>
  <hr class="sep-line">
  <div class="body-wrapper">
    <nav>
      <ul>
        <li class='nav-title'>
          <a routerLink="/home" routerLinkActive="active">Home</a>
        </li>
        <li class="nav-title">
          <a routerLink="/myMissions" routerLinkActive="active">My Missions</a>
        </li>
        <li class='nav-title'>
          <a routerLink="/myProfile" routerLinkActive="active">My Profile</a>
        </li>
        <!--<li class="nav-title">
          <a routerLink="/missions" routerLinkActive="active">Search</a>
        </li>-->
        <li class="nav-title">
          <a routerLink="/myContacts" routerLinkActive="active">Contacts</a>
        </li>
        <!--<li class="nav-title">
          <a>Calendar</a>
        </li>-->
        <li class="nav-title">
          <a routerLink="/map" routerLinkActive="active">My Map</a>
        </li>
        <li class="nav-title">
          <a routerLink="/myMessages" routerLinkActive="active">Messages</a>
        </li>
      </ul>
    </nav>
  </div>

</div>
