.content-body{
  width:800px;
  padding-left:50px;
}
.ui-g-9{
  padding-right:0px;
}
.ui-g-1{
  padding-left:0px;
}
.ui-g-1 button{
  border: none;
  background-color: #00aa90;
  height:36px;
  width:54px;
  color: white;
}
.ui-g-1 button:hover {
  cursor:pointer;
  background-color: #00aa30;
}

.mission-btn button{
  width:100%;
  height:40px;
  background-color: #00aa90;
  color: white;
  border:none;
}
.mission-btn button:hover {
  cursor: pointer;
  background-color: #00aa30;
}

i .fa fa-plus{
  margin-right:15px;
}

.header{
  margin-top: 20px;
}

.header input{
  border: none;
  border-radius: 0%;
  background-color: lightblue;
}

.header input::placeholder{
  color: #666666;
}


.list-title h4{
  text-align: center;
  margin-top: 15px;
}

hr.style1{
  border-top: 5px solid #00aa90;
  margin: 8px;
}

ul{
  padding-left: 0px;
  margin-left:10px;
  width: 700px;
  height: auto;
  max-height: 500px;
}

.mission-list{
  width:720px;
}
