<div class="header">
  <div class="ui-g">
    <div class="ui-g-8">
      <div class="title-wrapper" (click)="toHomePage()">
        <div class="title-img-wrapper">
          <img src="../../../assets/images/smilewhite.png">
        </div>
        <div class="title">
          <h3>CIRCLE</h3>
        </div>
      </div>
    </div>
    <div class="ui-g-1">
      <div class="header-btn" *ngIf="isAdmin">
        <button (click)="toAdminPage()"><span>Admin</span></button>
      </div>
    </div>
    <div class="ui-g-1">
      <div class="header-btn" *ngIf="isAdmin">
        <button (click)="toNoticePage()"><span>Notice</span></button>
      </div>
    </div>
    <div class="ui-g-1">
      <div class="header-btn">
        <button (click)="settings()"><span>Settings</span></button>
      </div>
    </div>
    <div class="ui-g-1">
      <div class="header-btn">
        <button (click)="logOut()"><span>Log Out</span></button>
      </div>
    </div>
  </div>
</div>
